body
{
    font-family: century!important;
    cursor:default;
    color:white!important;
    background-image: url('temp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color:#fff!important;
    font-size: 20px;
    font-family: cursive;
}

h1{
    font-family: cursive;
    font-style: italic;
    font-size: 80px;
}

.header 
{
    padding: 20px;
    text-align: center;
    color:black;
    background-color:transparent;
}
.footer {
    text-align: center;
    bottom:0px;
    background-color: transparent;
    height: 50px;
    padding: 10px;
    text-align: center;
    color: black;
}
.sticky
{
    position: -webkit-sticky;
    position: fixed;
    width:100%;
    top:0;
    z-index:2;
}

.admin-page{
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    position: fixed;
    left: 0;
    top:0;
    background-size: 100% 100%; 
    overflow:auto;
}

container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}   
.nav_font{
    color: white;
}

.topnav {
    background-color:#131f30;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.border
{
    border:1px solid white;
}
.border_right
{
    border-right:1px solid white;   
}
.position
{
    position:fixed;
}
.choosen_file
{
    float:left;
}
.topmargin
{
    margin-top:140px;
}
.button {
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.full-width 
{
    width:100%;
    position:relative;
    float:left;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #131f30; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:white; 
    border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

@font-face {
    font-family: 'century';
    src: url('./fonts/GOTHIC.TTF')  format('truetype');
}
@font-face {
    font-family: 'century-bold';
    src: url('./fonts/GOTHICB.ttf')  format('truetype');
}
@font-face {
    font-family: 'century-bitalic';
    src: url('./fonts/GOTHICBI.ttf')  format('truetype');
}
@font-face {
    font-family: 'century-italic';
    src: url('./fonts/GOTHICI.ttf')  format('truetype');
}
.century{
    font-family: century;
}
.century-bold{
    font-family: century-bold;
}
.century-bitalic{
    font-family: century-bitalic;
}
.century-italic{
    font-family: century-italic;
}

@media screen
and (min-width : 991px)
and (max-width : 1024px){

}



@media screen
and (min-width : 767px)
and (max-width : 991px){
    body{
        font-size: 10px;
    }

}

@media screen
and (min-width : 481px)
and (max-width : 766px){
    body{
        font-size: 10px;
    }

}

@media only screen and (max-width: 480px){
    body{
        font-size: 10px;
    }

}

